body {background: white;}

p {color: black;
  text-align: center;
  width: 800px;
  margin: auto;
  font-size: 30px}

h1 {font-weight: bold;}

.cox{height: 170px;
  width: 500px; 
  border: 1px solid white;
  background-color: rgb(193, 157, 77);
  margin: auto;
  position:absolute; bottom: 10px; left: 500px}

h2 {text-align: center;
  font-size: 50px;
  color: black;}

a {color: black}

img[src*="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9VBPH53ghj5SFlakbeiEf6jP4tgZVR0xvHg&s"]{ position: absolute; top: 20px; left: 20px;
  border-radius: 20%}

img[src*="https://stagestopcandy.com/cdn/shop/files/Licorice-Twists-Strawberry-Twists-Candy.webp?v=1722628618"] { position: absolute; top: 400px; left: 20px;
  border-radius: 20%}

img[src*="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS434TCT4bL1E2Q9aVwhblVKNWHOxnsqn6dOQ&s"] { position: absolute; top: 400px; right: 20px;
  border-radius: 20%}

img[src*="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoeiu788VY68czewiZ8y-wz6-342uVmZGebg&s"] { position: absolute; top: 20px; right: 20px;
  border-radius: 20%}
